<section id="intro">
    <header>
        <h2>Voice Mail and Call Forwarding for Your Business</h2>
    </header>

    <ul id="benefits">
        <li><span>Toll-free phone number for you and all your employees</span></li>
        <li><span>Hosted in the cloud.  No need to install hardware or software.</span></li>
        <li><span><%= link_to('Sign Up!', signup_path )%></span></li>
    </ul>
</section>

